#custom-navbar {
    background-color: white;
    height: 11vh;
    border: #BBBBBB;
}

#custom-brand{
    width: 5rem;
    height: 5rem;
}

#custom-img {
    height: 4rem; 
}

#custom-navlink{
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 3.5vh;
    margin-top: auto;
    margin-bottom: auto;

}

#custom-searchbar {
    border-radius: 5rem;
    width: 80vh;
    height: 70%;
    border: 3px solid black ;
    margin: 0 1rem 0rem  1rem;
}

#custom-dropdown {
    margin-right: 15%; 
}