.background2 {
  background-image: url("../../assets/Background/sale_info_bg.jpg");
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.title2 {
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.7;
  margin-top: 40px;
  color: #000000;
  margin-top: 50px;
  padding-bottom: 10px;
}

.mainPage {
  padding-top: 160px;
  padding-left: 300px;
  padding-right: 300px;
}

.vertical-scroll-container {
  max-height: 500px;
  max-height: auto;
  overflow-y: auto;
  overflow-x: hidden; /* Hides horizontal scoll */
  padding-right: 20px;
  padding-bottom: 30px;
}

/* Prevent vertical overfloww */
.vertical-scroll-container > .no-gutters {
  flex-wrap: nowrap;
}

.vertical-scroll-container::-webkit-scrollbar {
  width: 16px; /* Widght of scroll */
}

.vertical-scroll-container::-webkit-scrollbar-thumb {
  background-color: #eb9f0b; /* Color scroll */
}

.vertical-scroll-container::-webkit-scrollbar-track {
  background-color: #f5e1cd; /* Color of place scroll*/
}

.columnaOrden {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px;
  height: 60px;
  overflow: hidden;
  height: fit-content;
  overflow-y: auto;
}

.odd-row {
  background-color: #bbbbbb;
  border-radius: 10px;
  margin-left: 2px;
  margin-bottom: 4px;
}

.even-row {
  background-color: #e1b765;
  border-radius: 10px;
  margin-left: 2px;
  margin-bottom: 4px;
}

.popOver-content {
  background-color: rgb(204, 255, 0);
  width: 200px;
  height: 200px;
  margin-right: 10px;
}

.searchBar {
  margin-bottom: 10px;
  border-radius: 12px;
  width: 60%;
  background-color: white;
  color: black;
}

.row-link {
  color: black !important;
  text-decoration: none !important;
}

.row-link:hover {
  color: blue !important;
}

.contenedorFormulario {
  flex-direction: column;
  display: flex;
  margin-top: 20px;
  width: 100%;
  background-color: #f5e1cd;
  padding: 20px 30px 1dvb 30px;
  padding-right: 600px;
}

.labelWrapper {
  flex: 1;
  display: flex;
  align-items: center;
}

.labelContainer {
  width: 580px;
  max-width: 480px;
}

.contenedorFormulario {
  background-color: #efebe2;
  align-items: center;
}
.contenedorFormularioProdu {
  margin-bottom: 10px;
  background-color: whitesmoke;
  color: #000000;
}

.buscarBtn {
  background-color: #f58071;
  border-radius: 12px;
  border: none;
  height: 40px;
  width: 100px;
}

.mb-3 {
  align-items: center;
}
