.custom-col-product-display {
}

.units-to-buy-button {
  width: 50%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 4rem;
  background-color: #e896cb;
  border: none;
}

.custom-product-detail-button-add {
  background-color: #4ea97f;
}

.custom-product-detail-button-buy {
  background-color: #3fa4ca;
}

.custom-product-detail-button-buy,
.custom-product-detail-button-add {
  border-radius: 5rem;
  border: none;
}

.buy-options-display {
  min-width: 100%;
}

.buy-options-display {
  border-radius: 1rem;
  background-color: #eb9f0b;
}

.product-detail-main-card {
  border-radius: 1rem;
  background-color: hsla(0, 0%, 100%, 0.5);
}
