.custom-container-box {
    margin-top: 10%;

  }
  
  .custom-container {
    max-height: fit-content; /* Set a max height for the container, adjust as needed */
    padding-right: 15px; /* Add some padding for the scrollbar */
  }

  .custom-title-image{
    width: 20%;
  }


  
